@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

@layer utilities {
  .blend-screen {
    mix-blend-mode: screen;
  }
}

.hoverable {
  &:hover {
    @apply opacity-50;
  }
}

.grid-sidebar-map {
  grid-template-columns: 1fr;

  @screen sm {
    grid-template-columns: min(50%, 500px) 1fr;
  }
}

.mapbox-invisible-popup {
  max-width: none !important;
  background: none;
  border: none;

  .mapboxgl-popup-close-button {
    top: 15;
    right: 15;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border: none;
    boxShadow: none;
    width: 300;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}
