@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

@layer utilities {
  .blend-screen {
    mix-blend-mode: screen;
  }

  .hoverable {
    &:hover {
      @apply opacity-50;
    }
  }
}

@layer components {
  .button-grey,
  .btn.btn-primary {
    @apply inline-block text-midDarker bg-light border border-mid rounded-lg py-2 px-3
text-S font-semibold hoverable;
  }

  @responsive {
    .article-grid {
      grid-template-columns: 1fr 48rem 1fr;
    }
  }
}

.prose {
  @apply text-S text-softBlack;

  p:first-child {
    @apply text-M text-black;
  }
}

.allauth-root {
  h1 {
    @apply text-M font-semibold my-2;
  }
  p {
    @apply text-S text-midDarker;
  }
  form {
    @apply my-4;
  }
}

.grid-sidebar-map {
  grid-template-columns: 1fr;
  grid-template-rows: 75vh 1fr;

  @screen md {
    grid-template-columns: min(50%, 500px) 1fr;
    grid-template-rows: 1fr;
  }
}

.mapbox-invisible-popup {
  max-width: none !important;
  background: none;
  border: none;

  .mapboxgl-popup-close-button {
    top: 15;
    right: 15;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border: none;
    boxShadow: none;
    width: 300;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-tip {
    display: none;
  }
}

.DayPickerInput {
  @apply block py-2 px-3 mx-4 my-2 box-border border border-gray-500 rounded-md;

  input {
    width: 100%;
  }
}

.js-plotly-plot .plotly .modebar-btn {
  display: inline-block;
}

.prose a,
.link {
  @apply no-underline border-b border-brand;
}

#div_id_terms {
  @apply flex flex-row items-center;
  input {
    @apply order-1;
  }
  label {
    @apply order-2 pl-2;
    margin-bottom: 0;
  }
}

form {
  input.checkboxinput  {
    @apply appearance-none p-2 box-border border border-gray-500 rounded-md;
  }
}

.mapboxgl-ctrl-top-right {
  @apply mt-6 flex flex-col items-end;

  .mapboxgl-ctrl {
    @apply my-1 order-2;
  }

  .mapboxgl-ctrl-geocoder {
    @apply order-1;
    width: auto;
    min-width: 0;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);

    .mapboxgl-ctrl-geocoder--input {
      max-width: 0;
      padding-left: 15px;
      padding-right: 14px;
    }

    .mapboxgl-ctrl-geocoder--icon-search {
      left: 5px;
    }

    &:hover {
      max-width: 360px;
      overflow: visible;

      .mapboxgl-ctrl-geocoder--input {
        max-width: 100%;
        padding: 6px 35px;
      }

      .suggestions {
        /* Cursor catcher so hover continues */
        position: relative;
        &:after {
          content: '';
          display: block;
          opacity: 0;
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 10px;
        }
      }
    }
  }
}
