{% load static i18n %}
<nav
  class='mt-auto z-50'
  style="background: linear-gradient(0deg, rgba(51,204,255,0.800000011920929), rgba(51,204,255,0));"
>
  <div class='px-4 mt-4 pb-3 uppercase font-cousine text-XS'>
    <a href='https://citizensense.net' target='_blank'>
      <img src='/static/images/citizenSenseLogo.png' class='mb-3 max-w-full' style='width: 220px' />
    </a>
    <a href='https://citizensense.net/about/contact/'>Contact</a>
    <a class='ml-3' href='https://citizensense.net/about/terms/'>Terms &amp; Conditions</a>
    <br />
    <a href='https://commonknowledge.coop'>Site by Common Knowledge</a>
  </div>
</nav>
