.breadcrumb,
.tab-nav.merged,
.button,
.dropdown .dropdown-toggle,
header {
    background: rgb(51,204,255) !important;
}

.tab-nav a {
  background: white !important;
  color: black;
}

.nav-search {
  display: none;
}
.nav-main ul li:first-child {
  display: none;
}
