.breadcrumb {
  background: #33ccff;
}

header,
.page-explorer .listing .index {
  color: black;
  background: linear-gradient(180deg, rgba(51,204,255,0.800000011920929), rgba(51,204,255,0));
}
.tab-nav.merged {
  background: white;
}

body header .user-name,
body header h1,
body header .button,
.page-editor h1.header-title,
.breadcrumb *,
.page-explorer .listing .index .title h2,
.page-explorer .listing .index .button,
.t-inverted .u-btn-current {
  color: black;
}

body header .button.bicolor,
.page-explorer .listing .index .button.bicolor {
  color: white;
}

a {
  color: #2e03da;
}

/* .nav-wrapper, .nav-wrapper .inner,
.nav-wrapper, .nav-wrapper .inner * {
    background: white !important;
    color: black !important
}

main header,
main header * {
  color: black !important;
  background: white !important;
}

.tab-nav a {
  background: white !important;
  color: black;
} */

.nav-search {
  display: none;
}
/* .nav-main ul li:first-child {
  display: none;
} */
.markdown li,
.markdown ul {
  list-style-type: disc;
}
.markdown li {
  padding-left: 3px;
}
.markdown ul {
  padding-left: 20px;
}
.primary-sections .title-wrapper {
  background: #B5EDFF !important;
}
.field.simple_array_field.checkbox_select_multiple li {
  margin: 10px 0;
}
.field.simple_array_field.checkbox_select_multiple label,
/* .fields .field-col, */
.fields .field-content {
  float: none;
}
.fields .field label {
  width: 100% !important;
}
.help-compact,
.help-compact fieldset {
  margin: 0 !important;
  padding: 0 !important;
}
