/* .nav-wrapper, .nav-wrapper .inner,
.nav-wrapper, .nav-wrapper .inner * {
    background: white !important;
    color: black !important
}

main header,
main header * {
  color: black !important;
  background: white !important;
}

.tab-nav a {
  background: white !important;
  color: black;
} */

.nav-search {
  display: none;
}
.nav-main ul li:first-child {
  display: none;
}
