{% extends 'base.html' %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
  <div>
    <div class='px-4 mb-4 md:w-1/2'>
      <h1 class='text-M font-bold mb-2'>
        {{ page.title }}
      </h1>
      <div class='prose text-S'>
        {{ page.summary_text|richtext }}
      </div>
      <a href="/user_action_redirect/create_datastory" class='button-grey my-4'>
        + Add a Data Story
      </a>
    </div>
    <div class='px-4 my-5 lg:my-6 grid gap-4 md:grid-cols-2'>
      {% for story in datastory_objects %}
        <a href="{{ story.url }}" title="{{ story.title }}">
          <div class='text-XXS uppercase font-bold my-2'>
            {% if story.location_name %}
              <span class='text-softBlack pr-3'>{{story.location_name}}</span>
            {% endif %}
            <span class='text-midDarker'>{{story.first_published_at|date:"F Y" }}</span>
          </div>
          {% image story.feature_image fill-690x300 class='md:rounded-md text-center mx-auto md:my-4 w-full' %}
          <h2 class='text-S font-semibold my-2'>{{story.title}}</h2>
          <p>{{story.introduction_copy|truncatewords_html:22|striptags|safe}}</p>
          <span class='button-grey mt-4'>Read the Story</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
