{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner %}
<h1 class='text-M font-semibold my-2'>{% trans "Sign Out" %}</h1>

<p class='text-S mb-4'>{% trans 'Are you sure?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="button-grey" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
